        <footer>
            <p>This is a creation of the almighty Front-End Developer <a href="http://github.com/rick712" target="_blank">Rick Buter</a></p>
        </footer>

        <script src="../script/script.js"></script>

    </body>
</html>