body {
  background-color: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(44, 69, 91);
  color: rgba(44, 69, 91, 0.8);
}

.usupportsDetails {
  display: none;
}

@supports (display: flex) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.header {
  text-decoration: none;
  color: inherit;
}

.hideDetails {
  display: none;
}
